/* Set height of body and the document to 100% to enable "full page tabs" */
body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}
main {
  position: relative;
  z-index: 1;
}
.main_info {
  background: #88a2f2;
  width: 1000px;
  height: auto;
  margin: 0 auto;
  border-radius: 8px;
}

.main_button {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.main_button:hover {
  background-color: #88a2f2;
}

.main_content {
  /* color: white; */
      display: flex;
    align-items: flex-start;
  padding: 20px 20px;
  height: 100%;
  margin: 0 auto;
  width: 1000px;
  border-radius: 8px;
  margin-bottom: 20px;
}

#main_regi .vertical_menu {
  width: 200px;
}

#main_apply .vertical_menu {
  width: 200px;
}
#main_regi .main_box {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  width: 80%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  background-color: #c4c7f2;
  box-shadow: 0.5px 0.5px #444;
  align-items: flex-start;
}

#main_apply .main_box {
  display: flex;

  margin: 0 20px;
  width: 80%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  /* box-shadow: 0.5px 0.5px #444; */
  align-items: flex-start;
}

/* 소메뉴 수정 */

.vertical_menu a {
  background-color: whitesmoke;
  color: black;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  box-sizing: border-box;
  margin: auto 0;
}

.vertical_menu a:hover {
  border: 2px solid #1b50ee;
  background-color: #3765f0;
  color: white;
}

.apply_content {
	border: 1px solid #6b71ba;
  background-color: whitesmoke;
  color: black;
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  box-sizing: border-box;
}
.apply_content:hover{
background-color: #ccc;		
}

.opencase {
  font-size: 15px;
  height: auto;
  padding: 5px 10px;
  margin: auto 0;
}
.apply_name {
  width: 50%;
  float: left;
}

.apply_list {
  display: flex;
}

.main_content button {
  font-size: 15px;
  /* width: auto;
  height: auto; */
  padding: 5px 10px;
  border-radius: 5px;
  background-color: whitesmoke;
  border: 1px solid #333;
  color: black;
  margin: auto 0;
}
.vertical_menu table {
  width: 100%;
}
tr > td {
  display: inline-block;
  margin: 0 auto;
}
.apply_content .apply_btn {
  line-height: 50px;
  height: 50px;
}
.apply_btn {
  /* margin: 0 10px; */
  padding: 10px;
  float: right;
}
.main_content button:hover {
  box-sizing: border-box;
  border: 1px solid #1b50ee;
  background-color: #3765f0;
  color: white;
}

.apply_add {
  width: 20%;
  margin: 20px auto 0 auto;
}
.main_box_txt {
  /* padding: 14px 0; */
  line-height: 50px;
  text-align: left;
}
.main_content_button {
  padding: 20px;
  float: right;
  width: 100%;
  height: auto;
}
.main_content_button button {
  margin-left: 10px;
  float: right;
}

.main_box_text_box {
  display: flex;
  width: 400px;
  margin: 0 auto;
  flex-direction: row;
}
.main_box_text {
  display: grid;
}
.main_box_text form {
  width: 200px;
}
.main_box_text form input {
  height: 30px;
  margin: 10px;
  border-radius: 4px;
  padding: 0;
  border: 0px;
}
.main_box_text form div {
  height: 30px;
  margin: 10px;
  border-radius: 4px;
  padding: 0;
  border: 0px;
}
.main_box_text form input[type="checkbox"] {
  height: 15px;
  margin: 0;
}

/* .main_box div div {
  color: black;
  font-weight: bold;
  font-size: 15px;
} */

.main_regi {
  display: flex;
  width: 800px;
  margin: 0 auto;
  border-radius: 10px;
}

.main_box_title {
  margin: 20px;
  color: black;
}

.main_button_box {
  margin: 0 auto;
  width: 1000px;
}

.user_wrap {
  height: auto;
  margin: 0 auto;
  padding: 20px 0 20px 20px;
  width: 1000px;
  justify-items: center;
  /* justify-items: center; */
}

.user_box {
  /* position: relative; */
  padding: 10px 10px 10px 10px;
  background-color: #eee;
  border-radius: 10px;
  height: 100px;
  width: 400px;
  margin: 0 0;
}

.user_profile {
  /* position: absolute; */
  box-sizing: border-box;
  border-radius: 50%;
  float: left;
  /* top: 10px;
left: 10px; */
  display: block;
  width: 80px;
  height: 80px;
  background-color: #fff;
}

.user {
  float: right;
  width: calc(100% - 90px);
  height: 100%;
}

.user_name {
  height: 50%;
  background-color: #fff;
}

.user_status {
  height: 50%;
  background-color: #fff;
}

main > .main_wrap {
  font-size: 16px;
  font-weight: bolder;
  /* padding-top: 50px; */
  width: 100%;
  height: calc(100% - 180px);
  background-color: #fff;
}

/* 이력서 디테일 */

.apply_dtl_header {
  display: flex;
}
.apply_dtl {
  float: left;
  margin: auto;
}
.apply_dtl_name {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.apply_dtl_date {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

#main_apply .main_box {
  flex-direction: column;
}

#main_apply .main_box .resume {
  width: 100%;
}

#main_apply .main_box .content {
  width: 100%;
  height: auto;
  background-color: #3765f0;
  /* border: 1px solid black; */
  margin-bottom: 20px;
  border-radius: 10px 10px 0px 0px;
}

#main_apply .main_box .apply_dtl_header {
  border-radius: 10px;
}

#main_apply .main_box .content .dtl {
  border-radius: 10px 10px 0px 0px;
  background-color: #c4c7f2;
  /* 높이 100% 수정해야함 */
  height: 100%;
  width: 100%;
}
#main_apply .main_box .content .dtl .header {
  height: 50px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  background-color: #3765f0;
  /* border-bottom: 2px #444 solid; */
  border-radius: 10px 10px 0px 0px;
  text-align: left;
  padding-left: 20px;
  line-height: 50px;
}

#main_apply .main_box .content .dtl .con {
  /* background-color: black; */
  height: calc(100% - 50px);
  padding: 0 20px;
  padding-top: 10px;
  display: flex;
}

#main_apply .main_box .content .dtl .add_box{
	padding-bottom: 10px;
}

/* 이력서 디테일 세부사항 */
form {
  width: 100%;
}
/* 지원자정보 */

/* 구직희망사항 */
.con .profile {
  background-image: url(../../images/common/profile2.png);
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.input_box {
  width: auto;
  margin-left: 30px;
  padding: 0;
}
.input_box > .name,
.input_box > .gender,
.input_box > .birth,
.input_box > .phone,
.input_box > .email,
.input_box > .location,
.input_box > .edu,
.input_box > .job,
.input_box > .hope_loc,
.input_box > .work_format,
.input_box > .sal {
  height: 30px;
  display: flex;
  margin-bottom: 30px;
  font-size: 15px;
  font-weight: bold;
}
.input_box .text {
  line-height: 35px;
  width: 100px;
  border-right: 1px solid #999;
}
.input_box .input {
  line-height: 30px;
  margin-left: 20px;
  font-size: 15px;
  font-weight: bold;
}
.input_box .input input[type="text"],
.input_box .input select {
  font-size: 12px;
  font-weight: bold;
  padding: 0px 10px;
  width: 150px;
  height: 100%;
  border: 0px;
}
input[readonly] {
  font-size: 12px;
  border: 0px;
  font-weight: bold;
  padding: 0px 10px;
  width: 130px;
  height: 100%;
  background-color: #888;
  color: #eee;
}

label {
  user-select: none;
}
.input_box .input label,
.input_box .input input[type="radio"] {
  margin: 0;
}

/* 자격증 */
.input_box .sal .input input[type="text"] {
  width: 100px;
  margin: 0 10px;
}

.plus_btn,
.minus_btn {
  box-sizing: border-box;
  border: 1px solid #777;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
}
.plus_btn:hover,
.minus_btn:hover {
  cursor: pointer;
  border: 1px solid #1b50ee;
  background-color: #3765f0;
  line-height: 29px;
  color: white;
}

.add_box {
  flex-direction: column;
}
.add_box .input_box {
  position: relative;
  display: flex;
  width: 90%;
  height: auto;
  margin: 0 auto;
  background-color: #eee;
}
.add_box .input_box .data_container {
  height: 30px;
  display: flex;
  margin: auto;
}
.data_container input[type="text"] {
  margin-left: 10px;
}
.data_container input[readonly] {
  width: 100px;
}
.minus_btn {
  margin: 10px 20px;
}
.plus_btn {
  margin: 10px auto;
}
/* 외국어 */
.data_container label {
  font-size: 15px;
  line-height: 30px;
  margin: 0 20px;
}
/* 경력사항,학력사항,직무교육 */
.add_box .more {
  height: auto;
}

.add_box .more .data_container {
  flex-direction: column;
  height: auto;
  width: 100%;
}
.add_box .more .data_container .detail {
  font-size: 15px;
  font-weight: bold;
  height: auto;
  padding: 10px;
  padding-bottom: 0px;
}
.add_box .more .data_container .detail input {
  text-align: center;
  width: 100px;
  height: 20px;
  border: 0;
  margin: 0 10px;
}
.data_container .detail textarea {
  width: calc(100% - 4px);
  height: 50px;
  margin: 10px 0;
}

/* 자기소개서 */
.add_box .text_box {
  height: auto;
  position: relative;
  padding: 10px;
}
.text_box {
  flex-direction: column;
}
.text_box input[type="text"] {
  font-size: 12px;
  border: 0px;
  font-weight: bold;
  padding: 0px 10px;
  width: calc(100% - 100px);
  height: 30px;
  margin: 10px;
}
.add_box .text_box .data_container {
  width: 100%;
  /* padding: 20px; */
  height: auto;
}
.data_container textarea {
  resize: none;
  margin: 0 10px;
  width: 95%;
  height: 200px;
  border: 1px solid #777;
  border-radius: 7px;
  box-sizing: border-box;
}
.r {
  position: absolute;
  top: 20px;
  right: 20px;
  margin-right: 10px;
}

/* 첨부파일 */
#att {
  display: none;
}
#fileSNm {
  padding: 0;
  margin: 0;
  height: 100%;
  width: calc(100% - 137px);
  line-height: 30px;
  border: 1px solid #777;
}
.add_box .input_box .file_container {
  width: calc(100% - 70px);
  padding: 0 20px;
  justify-content: space-between;
}
