/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
	height: 100%;
	margin: 0;
	font-family: Arial;
	background-color: white;
}
/* main{
  height:1440px;
} */
.main_info {
	background: #88a2f2;
	width: 1000px;
	margin: 0 auto;
	border-radius: 8px;
	padding-bottom: 20px
}

/* Style tab links */
.main_h1_box {
	margin: 0 auto;
	width: 1000px;
}

.main_h1 {
	background-color: #88a2f2;
	color: white;
	float: left;
	cursor: pointer;
	padding: 14px 16px;
	width: 968px;
}

.main_button {
	background-color: #555;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 33.3%;
}

.main_button:hover {
	background-color: #777;
}

.main_content {
	color: white;
	padding: 20px 20px;
	margin: auto;
	width: 1000px;
	border-radius: 8px;
}
/* 검색 버튼 start */
.search_top {
	width: 800px;
	margin: auto;
}

.search_select {
	height: 50px;
	border-radius: 10px;
	font-size: 17px;
	float: left;
}

.search_top input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 70%;
	height: 28px;
	border-radius: 8px;
	margin-left: 10px;
}

.search_top button {
	float: left;
	width: 13%;
	height: 50px;
	padding: 10px;
	background: black;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
	margin-left: -5px;
}

.search_top button:hover {
	background: #0b7dda;
}

.search_top::after {
	content: "";
	clear: both;
	display: table;
}
/* 기본 */
.main_content_button {
	width: 200px;
	height: 100%;
	position: relative;
	display: flex;
}

.main_content_button div {
	right: 30px;
	bottom: 30px;
	position: absolute;
}

.main_content_button div button {
	margin: 10px;
	border: 2px solid black;
	border-radius: 5px;
	background-color: blue;
	box-shadow: 1px 1px black;
	color: white;
	font-weight: bold;
}

/* .main_box_text {
  display: grid;
  margin-top: 140px;
}

.main_box_text input {
  margin: 10px;
  border-radius: 4px;
} */

/* .main_box div div {
  color: black;
  font-weight: bold;
  font-size: 13px;
} */

/* .main_button_box {
  margin: 0 auto;
  margin-top: 50px;
  width: 1000px;
} */
main>.main_wrap {
	font-size: 16px;
	font-weight: bolder;
	/* padding-top: 50px; */
	width: 100%;
	height: calc(100% - 180px);
	background-color: #fff;
}
/* 기본 */
/* 검색 end */
/* 상세검색 체크확인내용 */
.main_section, #more {
	width: 800px;
	background-color: #c4c7f2;
	padding: 10px;
	border-radius: 8px;
	font-weight: bolder;
	color: black;
	margin: auto;
}

.main_section select, #more select {
	height: 30px;
	border-radius: 8px;
	margin-top: 5px;
	border: 1px solid grey;
}

.main_section .date {
	font-weight: bolder;
}

.main_section .input_box, #more .input_box {
	height: 22px;
	width: 330px;
	border-radius: 8px;
	font-size: 17px;
	border: 1px solid grey;
	text-align: center;
}

.main_section .radiobx, #more .radiobx {
	position: relative;
	height: 25px;
	top: 7px;
	width: 20px;
	border-radius: 8px;
	border: 1px solid grey;
}

.main_section label, #more label {
	position: relative;
}

.main_section .year_input {
	width: 10%;
}
/* 통합검색 더읽기 */
#more {
	position: relative;
	margin: auto;
	display: none;
	margin-top: 10px;
	width: 800px;
	background-color: #c4c7f2;
	padding: 10px;
	border-radius: 8px;
	font-weight: bolder;
	color: black;
}
/* 상세보기 내리는 버튼 */
#img_btn {
	position: relative;
	width: 50px;
	height: 50px;
	float: right;
	bottom: 45px;
}
/* 자격증 */
.lisence_box {
	display: inline-block;
}

.data_container {
	position: relative;
	left: 14%;
}

.lisence_box input, .data_container input {
	margin: 10px 10px 0px 0px;
}

#qualSchBtn, #sectorBtn {
	border-radius: 8px;
	width: 100px;
	height: 25px;
	border-radius: 8px;
	border: 1px solid grey;
	text-align: center;
	line-height: 25px;
	padding: 0px;
	font-size: 14px;
	cursor: pointer;
}

.plus_btn, .minus_btn {
	height: 25px;
	width: 25px;
	border-radius: 8px;
	border: 1px solid grey;
	text-align: center;
	line-height: 25px;
	padding: 0px;
	font-size: 17px
}

.plus_btn:hover, .minus_btn:hover, #qualSchBtn:hover, #sectorBtn:hover {
	cursor: pointer;
	border: 1px solid #1b50ee;
	background-color: #3765f0;
	color: white;
}

#cancelBtn {
	position: absolute;
	right: 20px;
	top: 20px;
	border: 0px;
	cursor: pointer;
	width: 30px;
	font-size: 17px;
	font-weight: bolder;
}

.paging_wrap {
	text-align: center;
}

.job {
	margin-top: 5px;
}
/* tr 클릭 막기 */
#qual_th {
	pointer-events: none;
}
/* 카드형식 이미지 */
table {
	width: 100%;
}

.card_list {
	background-color: #c4c7f2;
	margin-top: 20px;
}

.card_list_char {
	padding: 16px 0 0 16px;
	color: black;
}

.card_list .content:hover {
	border: 8px solid #88a2f2;
	margin: -8px 0px;
	cursor: pointer;
}

.card_list .content img {
	max-width: 100%;
	height: 150px;
}

.row {
	display: inline-block;
	width: 100%;
}
/* Add padding BETWEEN each column (if you want) */
.row, .row>.column {
	padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
	width: 30%;
	display: inline-block;
}

/* Clear floats after rows */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Content */
.content {
	background-color: white;
	padding: 10px;
	color: black;
	max-width: 100%;
}

.content p {
	font-size: 14px;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
	.column {
		width: 50%;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		width: 70%;
	}
}

.main_margin {
	height: 82px;
}

.location {
	width: 100%;
}

.location .input {
	display: inline-block;
	margin-top: 5px;
}

.location .input select {
	border: 1px solid grey;
}
/* 급여 */
.input {
	line-height: 30px;
	margin-left: 20px;
}

.input input[type="text"], .input select {
	font-size: 12px;
	font-weight: bold;
	padding: 0px 10px;
	width: 150px;
	border: 0px;
}

#minSal, #maxSal, #minCareer, #maxCareer {
	text-align: center;
	width: 100px;
	height: 25px;
	border: 0px;
	margin: 0 10px;
	padding: 0;
	border-radius: 8px;
}

.sal, .career {
	display: flex;
	margin: 2px 0px;
}

.sal>span, .career>span {
	margin-top: 4px;
}

input[disabled] {
	font-size: 12px;
	border: 0px;
	font-weight: bold;
	padding: 0px 10px;
	width: 130px;
	height: 100%;
	background-color: #888;
	color: #eee;
}

.no_data {
	width: 100%;
	font-size: 1.5em;
	text-align: center;
	display: inline-block;
}

.column p {
	font-size: 12px;
}

.column .column_div {
	margin: 5px 0px;
}

.sn_overflow {
	display: inline-block;
	width: 270px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}