header{
	min-width: 1286px;
}

.side_bcc {
  height: 100%;
  width: 0;
  background-color: black;
  opacity: 0.7;
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0px;
}
.topnav {
  position: relative;
  background-color: #6b71ba;
  overflow: hidden;
  height: 40px;
  min-width: 1000px;
}
/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
/*   text-align: center; */
  line-height: 40px;
  text-decoration: none;
  font-size: 13px;
  margin: 0 5px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

/* Centered section inside the top navigation */
.topnav-centered div {
  float: none;
  background-image: url(../../images/common/worklogo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height: 40px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 60px);
}
.topnav-centered div:hover{
	cursor: pointer;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
	margin-right: 10px;
  float: right;
  display: flex;
}
.topnav-right > strong {
  text-align: center;
  line-height: 40px;
  color: white;
  margin: 0 5px;
}
.alarm{
	width: 30px;
	height: 30px;
	margin: 5px;
 	background-image: url(../../images/common/alarm1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.im_profile{
	width: 30px;
	height: 30px;
	margin: 5px;
	border-radius: 50%;
 	background-image: url(../../images/common/im_profile.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cm_profile{
	width: 30px;
	height: 30px;
	margin: 5px;
	border-radius: 50%;
 	background-image: url(../../images/common/cm_profile.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mng_profile{
	width: 30px;
	height: 30px;
	margin: 5px;
	border-radius: 50%;
 	background-image: url(../../images/common/mng_profile.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 650px) {
  .topnav a,
  .topnav-right {
    display: flex;
  }
  header {
    min-width: 450px;
}
    .topnav {
    /* width: 400px; */
    min-width: 450px;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}
.hambuger div {
  width: 25px;
  height: 5px; 
  background-color: black;
  margin: 2px 0;
  border-radius: 30px;
}
.hambuger {
  float: left;
  margin: 10px;
}


/* 메뉴 */
